/*
	960 Grid System ~ Text CSS.
	Learn more ~ http://960.gs/

	Licensed under GPL and MIT.
*/
/* v1.0 | 20091131 */
/* `Basic HTML
----------------------------------------------------------------------------------------------------*/

body {
	font-family: Arial, Tahoma, Verdana, FreeSans, sans-serif;
	font-size: 11px;
	line-height: 1.7;
	color: #333;
	background: #FFF;
}
a {
	color: #634C2F;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p {
	padding: 5px 0;
	margin: 0 0 5px;
	text-align: left;
}

small {
	font-size: 80%;
}

a:focus {
	outline: 1px dotted;
}

hr {
	border: 0 #ccc solid;
	border-top-width: 1px;
	clear: both;
	height: 0;
}

/* `Headings
----------------------------------------------------------------------------------------------------*/

h1 {
	font-size: 28px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 18px;
}

/* `Spacing
----------------------------------------------------------------------------------------------------*/

ol {
	list-style: decimal;
}

ul {
	list-style: disc;
}

li {
	margin-left: 30px;
}

dl,
hr,
ol,
ul,
pre,
table,
address,
fieldset {
	margin-bottom: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, Tahoma, Verdana, FreeSans, sans-serif;
    font-weight: normal;
    margin: 15px 0 2px;
    padding-bottom: 2px;
}

ul ul,
ul ul ul,
ul ul ul ul,
ul ul ul ul ul,
ol ol,
ol ol ol,
ol ol ol ol,
ol ol ol ol ol {
    margin-bottom: 0;
}

.center {
    text-align: center;
}
