
	[[$7in1-header]]
		<div id="wrapper-1" class="pngfix">
			<div id="wrapper-2" class="pngfix">
				<div id="page" class="container_16">
					<div class="clear"></div>
					<div id="top" class="grid_16">
						<div id="logo" class="grid_9 alpha">
							<h1>
								<a class="pngfix" style="background: transparent url( assets/templates/7in1/styles/style1/images/logo.png ) no-repeat 0 100%;" href="index.html">Business Success</a>
							</h1>
						</div>
						<div id="slogan" class="grid_9">Slogan tag line goes here&#8230;</div>
						<!-- end logo slogan -->
						<div id="search" class="grid_5 alpha prefix_11">
							<form action="" method="get">
								<div class="search_box">
									<input id="search_field" name="s" type="text" class="inputbox_focus inputbox pngfix" value="Search..." />
									<input type="submit" value="" class="search-btn pngfix" />
								</div>
							</form>
						</div>
						<!-- end search -->
					</div>
					<!-- end top -->
					<div class="clear"></div>
					<div id="dropdown-holder" class="grid_16">
						<div class="nav_bg pngfix">
							<ul class="sf-menu">
								<li class="current_page_item"><a href="index.html"><span>Home</span></a></li>
								<li><a href="about.html"><span>About</span></a>
									<ul>
										<li><a href="#"><span>History</span></a></li>
										<li><a href="#"><span>Our Team</span></a></li>
										<li><a href="#"><span>Employment</span></a>
											<ul>
												<li><a href="#"><span>Internal Staffing</span></a></li>
												<li><a href="#"><span>Consulting</span></a></li>
												<li><a href="#"><span>Child Item</span></a></li>
												<li><a href="#"><span>Child Item</span></a></li>
											</ul>
										</li>
										<li><a href="#"><span>Our Company</span></a></li>
									</ul>
								</li>
								<li><a href="portfolio.html"><span>Portfolio</span></a></li>
								<li><a href="features.html"><span>Features</span></a>
									<ul>
										<li><a href="preset-styles.html"><span>Preset Styles</span></a></li>
										<li><a href="full-width.html"><span>Full-width Page</span></a></li>
										<li><a href="help-prettyPhoto.html"><span>Help with prettyPhoto</span></a></li>
									</ul>
								</li>
								<li><a href="typography.html"><span>Typography</span></a></li>
								<li><a href="blog.html"><span>Blog</span></a></li>
								<li><a href="contact.php"><span>Contact</span></a></li>
							</ul>
						</div>
					</div>
					<!-- end dropdown-holder -->
					<div class="clear"></div>
					<div id="header" class="grid_16">
						<div class="slideshow">
							<img src="assets/templates/7in1/scripts/cycle/images/slide_1.jpg" width="940" height="300" />
							<a href="index.html"><img src="assets/templates/7in1/scripts/cycle/images/slide_2.jpg" width="940" height="300" /></a>
							<img src="assets/templates/7in1/scripts/cycle/images/slide_3.jpg" width="940" height="300" />
							<img src="assets/templates/7in1/scripts/cycle/images/slide_4.jpg" width="940" height="300" />
							<img src="assets/templates/7in1/scripts/cycle/images/slide_5.jpg" width="940" height="300" />
						</div>
					</div>
					<!-- end header -->
					<div class="clear"></div>
					<div id="content_lid" class="grid_16 pngfix"> </div>
					<div class="clear"></div>
					<div id="front_content" class="grid_16">
						<div id="front_content_bkgnd_btm" class="pngfix">
							<div id="special" class="column_1_of_2">
								<div class="special widget_text">
									<div class="sp_title_m">
										<div class="sp_title_l">
											<div class="sp_title_r">
												<h3 class="special_title">Theme Features</h3>
											</div>
										</div>
									</div>
									<div class="textwidget">
										[[*content]]
									</div>
								</div>
							</div>
							<!-- end special -->
							<div id="cont_col_1" class="column_1_of_4">
								<div class="cont_col_1 widget_text">
									<h3 class="cont_col_1_title">B. Success Theme</h3>
									<div class="textwidget">You will be able to choose from 28 different transition effects for the Header Slider. Ligula 
										eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
										montes. Aenean massa. Cum sociis natoque penatibus et magnis.
										<img style="padding-top:10px;" src="assets/templates/7in1/sample-data//b_success_logo_btn.png" width="200" height="92" alt="b-success-logo" />
									</div>
								</div>
							</div>
							<!-- end cont_col_1 -->
							<div id="cont_col_2" class="column_1_of_4">
								<div class="cont_col_2 widget_text">
									<h3 class="cont_col_2_title">WordPress Rocks</h3>
									<div class="textwidget">You will be able to choose from 28 different transition effects for the Header Slider. Ligula
										eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
										montes. Aenean massa. Cum sociis natoque penatibus et magnis.
										<img style="padding-top:10px;" src="assets/templates/7in1/sample-data//wp_logo_btn.png" width="200" height="92" alt="b-wp-logo" /></div>
								</div>
							</div>
							<!-- end cont_col_2 -->
						</div>
						<!-- end front_content_bkgnd_btm -->
					</div>
					<!-- end front_content -->
					<div class="clear"></div>
					<div id="bottom_lid" class="grid_16 pngfix"> </div>
					<div class="clear"></div>
					[[$7in1-footerwidget]]
					<!-- end bottom_widgets -->
					<div class="clear"></div>
					<div id="footer_lid" class="grid_16 pngfix"> </div>
					[[$7in1-footer]]
